@charset "UTF-8";
/* Aparelho deitado (landscape) */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav{
    display: flex;
}
.btn-menu {
    display: none;
}
